html,body {
    background: rgb(188, 222, 255)!important;
    color: #131313;
    overflow: auto;
}

.skill {
    width: 90%;
    margin-left: 10%;
    margin-bottom: 10px;
    display: inline-block;
}

h1 {
    color: #525252;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 2%;
}

.fa {
    color: #777777;
    margin-top: -5%;
    margin-left: 10%;
    margin-bottom: 20px;
}

.fa:hover {
    color: #525252;
}

h3 {
    position: relative;
    display: inline-block;
    width: 24%;
}

.progress_single_wrapper {
    display: inline-flex;
    border: 2px solid #EAEAEA;
    border-radius: 10px;
    float: right;
    margin-right: 10%;
    width: 65%;
}

.progress_single {
    border-radius: 10px;
    color: white;
    font-family: inherit;
    padding-top: 10px;
    padding-bottom: 10px;
}

#larger {
    display: none;
    text-align: center;
    color: #131313;
    font-size: x-large;
}

@media screen and (max-width: 500px) {
    .skill {
        display: none;
    }
    #larger {
        display: block;
    }
}