html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: Helvetica, sans-serif;
    overflow: hidden;
    cursor: context-menu;
    background-image: url("../images/5.jpg");
}

a {
    cursor: pointer;
    text-decoration: none;
}

#content {
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
}

#one {
    width: 70%;
    height: 100%;
    left: 15%;
    position: fixed;
    top: 15%;
    padding-bottom: 20%;
    z-index: 5;
}

#photo {
    width: 200px;
    height: 280px;
    border: 10px solid transparent;
    border-image: linear-gradient(to left bottom, dodgerblue 0%, chartreuse 33%, chartreuse 66%, dodgerblue 100%);
    border-image-slice: 1;
    margin: auto;
    background-image: url("../images/my_face.jpg");
    background-size: cover;
    background-position: right;
    -webkit-transition: background-position .5s ease;
    transition: background-position .5s ease;
    float: right;
}

#photo:hover {
    background-position: left;
}

#text {
    font-size: 50px;
    background-repeat: repeat;
    margin: 0 auto;
    text-align: left;
    float: left;
    width: 50%;
    position: absolute;
}

.wrap {
  margin: 0px auto;
}

.spongy {
  color: #525252;
  font-family: sans-serif;
  text-transform: uppercase;
  float: left;
}

@keyframes sponge {
  0% {transform: scale(1); color: dodgerblue;}
  30% {transform: scaleX(1.25) scaleY(0.75);}
  40% {transform: scaleX(0.75) scaleY(1.25);}
  60% {transform: scaleX(1.15) scaleY(0.85); color: dodgerblue;}
  100% {transform: scale(1);}
}
.sponge {
  animation-name: sponge;
  animation-duration: 1.2s;
}

@keyframes sponge2 {
  0% {transform: scale(1);}
  15% {color: #fff; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;}
  30% {transform: scaleX(1.15) scaleY(0.85);}
  40% {transform: scaleX(0.85) scaleY(1.15);}
  60% {transform: scaleX(1.15) scaleY(0.85); color: #fff;  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;}
  100% {transform: scale(1);}
}

.sponge2 {
  animation-name: sponge2;
  animation-duration: 1.2s;
}

.elegantshadow {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 75px;
  font-weight: 700;
  padding-bottom: 10px;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  color: #131313;
  float: left;
  letter-spacing: .1em;
  text-shadow: 
      1px -1px 0 #767676, 
      -2px 1px 1px #767474, 
      -3px 3px 1px #7b7a7a, 
      -4px 5px 1px #828181, 
      -5px 7px 1px #8b8a89, 
      -6px 9px 1px #949392, 
      -7px 11px 1px #9e9c9c, 
      -8px 13px 1px #a8a6a6, 
      -9px 15px 1px #b2b1b0, 
      -10px 17px 1px #bcbbba, 
      -11px 19px 1px #c6c4c4, 
      -12px 21px 1px #cfcdcd, 
      -13px 23px 1px #d8d6d5, 
      -14px 25px 1px #dfdddc, 
      -15px 27px 1px #e4e3e2;
}

.text_part2 {
    font-size: large;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    float: left;
}

.btn {
    display: table;
    width: 10%;
    height: 10%;
    border: 0px solid;
    border-radius: 50%;
    background-color: dodgerblue;
    position: fixed;
}

.btn2 {
    display: table;
    width: 10%;
    height: 10%;
    border: 0px solid;
    border-radius: 50%;
    background-color: chartreuse;
    position: fixed;
}

.work {
    bottom: 13%;
    left: 15%;
}

.skills {
    bottom: 13%;
    left: 35%;
}

.about {
    bottom: 13%;
    left: 55%;
}

.contact {
    bottom: 13%;
    left: 75%;
}

.btn_animate {
    animation-name: btn_animate;
    animation-duration: 1s;
}

@keyframes btn_animate {
    40% {transform: scaleX(1.25) scaleY(1.25) rotate(20deg); background-color: chartreuse;}
    80% {transform: scaleX(1.25) scaleY(1.25) rotate(-20deg); background-color: chartreuse;}
}

.btn_animate2 {
    animation-name: btn_animate2;
    animation-duration: 1s;
}

@keyframes btn_animate2 {
    40% {transform: scaleX(1.25) scaleY(1.25) rotate(-20deg); background-color: dodgerblue;}
    80% {transform: scaleX(1.25) scaleY(1.25) rotate(20deg); background-color: dodgerblue;}
}

span {
    display: table-cell;
	vertical-align: middle;
	text-align: center;
    color: whitesmoke;
    font-size: large;
    font-weight: 700;
}

/* Media Query */

@media screen and (max-width: 850px) {
    
    #one {
        width: 75%;
        left: 12.5%;
        top: 20%;
    }
    
    #text {
        font-size: 45px;
    }
    
    .elegantshadow {
        font-size: 50px;
    }
    
    .text_part2 {
        font-size: medium;
    }
    
    #photo {
        width: 130px;
        height: 182px;
    }
    
    .btn, .btn2 {
        bottom: 20%;
    }
    
    .work {
        left: 12%;
    }
    
    .skills {
        left: 34%;
    }
    
    .about {
        left: 56%;
    }
    
    .contact {
        left: 78%;
    }
    
    span {
        font-size: medium;
        font-weight: 500;
    }
}

@media screen and (max-height: 600px) {
    
    #photo {
        width: 120px;
        height: 168px;
    }
}

@media screen and (max-width: 600px), screen and (max-height: 480px) {
    
    #one {
        width: 90%;
        top: 24%;
        left: 5%;
    }
    
}

@media screen and (min-width: 1001px) {
    @media screen and (min-height: 700px) {
        #one {
            top: 20%;
            left: 15%;
        }
        .btn,.btn2 {
            bottom: 20%;
        }
    }
}

@media screen and (width: 2560px) {
    @media screen and (height: 1600px) {
        #text {
            font-size: 8.5em;
        }
        
        .elegantshadow {
            font-size: 1.6em;
        }
        
        .text_part2 {
            font-size: 50px;
        }
        
        #photo {
            width: 400px;
            height: 560px;
        }
        
        .btn, .btn2 {
            bottom: 20%;
        }
        
        span {
            font-size: 45px;
        }
    }
}

/* Minimum screen size check */

@media screen and (max-width: 400px), screen and (max-height: 279px) {
    #content, #content_two, .landscape {
        display: none;
    }
    body {
        display: table;
    }
    .size {
        text-align: center;
        display: table-cell!important;
        vertical-align: middle;
        font-size: x-large;
        font-weight: 800;
    }
}



/* Lanscape orientation check */

@media screen and (orientation:portrait)  {
    #content, #content_two, .size {
        display: none;
    }
    body {
        display: table;
    }
    .landscape {
        text-align: center;
        display: table-cell!important;
        vertical-align: middle;
        font-size: x-large;
        font-weight: 800;
    }
}

.landscape {
    display: none;
}

.size {
    display: none;
}

#mob_nav_btn {
    color: #525252;
    display: none;
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 10000;
}

#mob_nav {
    display: none;
    color: white;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    z-index: 1000;
    height: 100%;
    width: 100%;
}

#part1 {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
#part1 > a {
    position: fixed;
    left: 25%;
    background: dodgerblue;
    width: 80px;
    height: 55px;
    text-align: center;
    border: 0px solid;
    border-radius: 30%;
}
#part1 > .mob_btn {
    position: fixed;
    top: 30%;
}
#part1 > .mob_btn2 {
    position: fixed;
    top: 70%;
}

#part2 {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
#part2 > a {
    position: fixed;
    left: 60%;
    background: chartreuse;
    width: 80px;
    height: 55px;
    margin: 0 0;
    border: 0px solid;
    border-radius: 30%;
}
#part2 > .mob_btn {
    position: fixed;
    top: 30%;
}
#part2 > .mob_btn2 {
    position: fixed;
    top: 70%;
}

#part1 > a > span, #part2 > a > span {
    font-size: large;
    text-align: center;
    margin: 0 auto;
    width: 80px;
    height: 55px;
    border: 0px solid;
    border-radius: 30%;
}

.fa-close {
    color: #090909;
}