html, body, h1, h2, p, a {
    margin: 0;
    padding: 0;
    border: 0;
    color: #303030;
    text-decoration: none;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}

.nav {
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 100;
    color: whitesmoke;
    background-color: #303030;
}

.nav-button {
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    text-align: center;
    line-height: 50px;
    background-color: #303030;
    transition: all 0.5s ease-in-out;
}

.nav-button.getdown {
    top: 250px;
}

.nav-button .navicon {
    line-height: 50px;
}

.nav-button.active {
    display: block;
}

.navicon:hover {
    color: #14b97d;
}

.navbar {
    display: block;
    width: 50%;
    height: 100%;
    background-color: #303030;
    margin: 0 auto;
    text-align: center;
}



.nav a {
    color: white;
    width: 20%;
    line-height: 50px;
    list-style: none;
    float: left;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 0.5s ease-in-out;
}

.nav a.active {
    color: #14b97d;
}

.nav a:hover {
    color: #14b97d;
}

.banner {
    position: relative;
    width: 100%;
    height: 600px;
    max-height: 100%;
    text-align: center;
    background-color: #222;
}

.banner img {
    max-width: 100%;
    max-height: 600px;
    box-shadow: 500px 0px 0px #bbb, -500px 0px 0px #bbb;
}

.banner:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.2);
}

.background:after {
    background-color: rgba(0,0,0,0.6);
}

.heading-name {
    position: absolute;
    z-index: 99;
    bottom: 120px;
    color: white;
    left: 0;
    right: 0;
    font-size: 3.5em;
    font-weight: 200;
}

.heading-name strong {
    color: #14b97d;
}

.heading-para {
    left: 0;
    right: 0;
    bottom: 60px;
    position: absolute;
    color: white;
    z-index: 99;
    font-size: 2vw;
    font-weight: 300;
}

.heading-para strong {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.next {
    color: white;
    z-index: 99;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}

.next:hover {
    color: #14b97d;
}

.section-heading {
    font-weight: 700;
    padding: 20px;
    text-align: center;
    padding-top: 60px;
    font-size: 3em;
}

.about {
    width: 100%;
    background: url('Images/Backgrounds/about.jpg') no-repeat;
    background-size: cover;
}

.type {
    width: 50%;
    height: 60px;
    margin: 0 auto;
}

.type-heading {
    width: 50%;
    float: left;
    text-align: center;
}

.type-heading:hover {
    color: #14b97d;
    cursor: pointer;
}

.container {
    margin-top: 20px;
    width: 200%;
    overflow: hidden;
}

.animate {
    transition: transform 1s ease-in;
}

.type > h2.active {
    color: #14b97d;
}

.bio-body {
    line-height: 1.5em;
    text-align: center;
    height: 300px;
    float: left;
    display: inline-block;
}

.bio-body p {
    margin-bottom: 50px;
}

.bio-body a {
    color: #14b97d;
    padding: 20px;
    border: 1px solid #303030;
}

.bio-body a:hover {
    color: white;
    background: #14b97d;
}

.skills-body {
    line-height: 1.5em;
    text-align: center;
    float: left;
    display: inline-block;
}

.bio-body, .skills-body {
    width: 40%;
    padding: 0 5% 50px 5%;
}

.note {
    display: none;
}

.skillbar {
    width: 80%;
    height: 30px;
    margin: 15px auto;
    border: 1px solid #303030;
    border-radius: 5px;
    line-height: 30px;
}

.skillbar-title {
    float: left;
    width: 25%;
    background-color: #14b97d;
    color: white;
    display: inline-block;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.skillbar-bar {
    float: left;
    display: inline-block;
    width: 75%;
    height: 100%;
    background-color: whitesmoke;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.value {
    background-color: #14b97d;
    opacity: 0.5;
    height: 100%;
    width: 0px;
}

.works {
    background: url('Images/Backgrounds/works.jpg') no-repeat;
    background-size: cover;
    overflow: auto;
    padding: 5%;
    padding-top: 0;
    text-align: center;
}

.work {
    width: 356px;
    height: 200px;
    border: 1px solid #14b97d;
    margin: 20px;
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
    position: relative;
    background-color: white;
}

.work-image {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 90;
}

.work-text {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(20,185,125,0.95);
    color: white;
}

.work-text heading {
    display: block;
    padding: 10px;
    font-size: 1.5em;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}

.work-text p {
    display: block;
    padding: 5px 25px;
    color: white;
    font-size: 0.8em;
    font-family: "Roboto", sans-serif;
}

.work-text a {
    width: 80px;
    position: absolute;
    margin-left: -40px;
    bottom: 20px;
    font-size: 1.2em;
    color: darkgreen;
    transition: font-size 1s;
    font-family: "Roboto", sans-serif;
}

.work-text a:hover {
    font-size: 1.4em;
}

.work-text.active {
    display: block;
    z-index: 91;
}

.contact {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}

.spotlight {
    width: 100%;
    height: 60px;
    background: rgba(214, 255, 211, 0.6);
}

.content {
    position: absolute;
    background: #14b97d;
    height: 560px;
    width: 100%;
    text-align: center;
}

.content:before {
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%2314b97d%3B' /%3E%3C/svg%3E");
    height: 60px;
    width: 100%;
    position: absolute;
    top: -59px;
    content: '';
    display: block;
}

.content h1 {
    margin: 50px 0;
    color: white;
    font-size: 3em;
}

.content p {
    font-size: large;
    font-weight: 500;
    color: white;
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
    line-height: 45px;
}

.content .links {
    margin-top: 50px;
}

.content-icon {
    font-size: x-large;
}

.links i {
    color: white;
    height: 60px;
    width: 60px;
    text-align: center;
}

.links i:hover {
    color: rgb(15,225,155);
    background-color: white;
    border-radius: 16px;
}

@media only screen and (min-width: 560px) and (max-width: 700px) {
    .navbar {
        width: 85%;
    }
}

@media only screen and (max-width: 559px) {
    .navbar {
        display: none;
        width: 100%;
        height: 250px;
    }
    
    .navbar.active {
        display: block;
    }
    
    .nav-button {
        display: block;
    }
    
    .nav a {
        width: 100%;
    }
    
    .banner img {
        box-shadow: none;
        padding-top: 50px;
    }
    
    .heading-name {
        padding-bottom: 50px;
        font-size: 3em;
    }
    
    .heading-para {
        margin: 0 auto;
        width: 90%;
        font-size: 0.9em;
        line-height: 1.5em;
    }
    
    .type {
        width: 80%;
    }
    
    .bio-body, .skills-body {
        width: 40%;
        padding: 0 5% 50px 5%;
    }
    
    .skillbar {
        font-size: 10px;
    }
    
    .skillbar-title {
        width: 30%;
    }
    
    .skillbar-bar {
        width: 70%;
    }
    
    .work {
        width: 90%;
        margin: 20px auto;
    }
    
    .spotlight {
        height: 30px;
    }
    
    .content:before {
        height: 30px;
        top: -29px;
    }
    
    .contact {
        height: 570px;
    }
}

@media only screen and (max-width: 400px) {
    .content p {
        letter-spacing: normal;
        font-size: small;
    }
    
    .content div {
        width: 90%;
        margin: auto;
    }
    
    .content h1 {
        font-size: 2.5em;
    }
    
    .content-icon {
        font-size: large;
    }
}

@media only screen and (max-width: 300px){
    .nav, .banner, .about {
        display: none;
    }
    
    .note {
        display: block;
        text-align: center;
        width: 100%;
        line-height: 30px;
        height: 30px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
    }
}